@import url(styles/theme.css);

:root {
    --md-sys-color-shadow-rgb: 0 0 0;
    --md-sys-elevation-0: 0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.2), 0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
    --md-sys-elevation-1: 0px 3px 1px -2px rgb(var(--md-sys-color-shadow-rgb) / 0.2), 0px 2px 2px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 1px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);

}


* {
    font-family: 'Fira Sans', Liberation Sans, Droid Sans, Helvetica, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

/* GENERAL */

body {
    color: var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-background);
    width: 100%;
}

a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
}

a:visited {
    color: var(--md-sys-color-primary);
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
}

select {
    font-size: 1em;
    color: var(--md-sys-color-primary);
    background-color: var(--md-sys-color-surface);
    padding: 0.5em;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--md-sys-color-outline);
    text-align: center;
}

/* HEADER */

header, footer {
    width: 100%;
    color: var(--md-sys-color-on-surface);
    background-color: var(--surface-1);
    box-sizing: unset;
}

header {
    /*border-bottom: 1px solid var(--md-sys-color-outline);*/
    padding-bottom: 0.5em;
}

nav {
    width: 100%;
    padding: 1em;
    text-align: center;
}

#canteen-selection {
    color: var(--md-sys-color-primary);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

#canteen-selection > div {
    margin-left: auto;
}

#mensa-select {
    margin-left: auto;
}

#day-selection {
    padding-top: 0;
    padding-bottom: 0.25em;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    gap: 0.25em;
    grid-template-columns: repeat(10, 1fr);
    justify-content: space-between;
}

.day {
    width: 100%;
    color: var(--md-sys-color-primary);
    background-color: var(--md-sys-color-surface);
    transition: box-shadow 0.2s ease-in-out 0s;
}

.day:hover {
    box-shadow: var(--md-sys-elevation-1);
    transition: box-shadow 0.2s ease-in-out 0s;
}

button {
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
}

.active {
    font-weight: bold;
    color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
}

@media only screen and (max-width: 640px) {
    #day-selection {
        gap: 0.25rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 0.5em;
    }
}

/* CONTENT */

#plan {
    padding: 0 0.5em 5em 0.5em;
    margin: 0 auto;
    max-width: 900px;
}

.meal-frame {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    padding: 1em;
    margin-top: 1em;
    border-radius: 1em;
    position: relative;
    box-shadow: var(--md-sys-elevation-1);
    line-height: 1.6;
}

.contains {
    width: 2em;
    height: 2em;
    position: absolute;
    display: block;
    top: 10%;
    right: 1%;
}

.price {
    text-align: right;
    font-style: italic;
}

/* FOOTER */

footer {
    color: var(--md-sys-color-primary);
    text-align: left;
    position: fixed;
    bottom: 0;
    padding: 1em;
}
