:root {
    --accent-background: #7a99ac;
    --container-background: #fff;
    --background: #f8f9fc;
    --text-color: #000;
    --border-color: grey;
    --button-background: #9bbbca;
}

* {
    font-family: 'Fira Sans', Liberation Sans, Droid Sans, Helvetica, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

/* GENERAL */

body {
    background-color: var(--background);
    width: 100%;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:visited {
    color: #000;
}

/* HEADER */

header, footer {
    width: 100%;
    background-color: var(--accent-background);
}

nav {
    display: table;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

#mensa-select {
    font-size: 1em;
    background-color: var(--background);
    border: 1px solid var(--border-color);
    height: 28px;
}

#day-selection {
    padding: 0 2%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    gap: 0.25em;
    grid-template-columns: repeat(10, 1fr);
    justify-content: space-between;
}

.day {
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}

.day:hover {
    text-decoration: underline;
}

button {
    min-height: 48px;
    background-color: var(--button-background);
    border: none;
    cursor: pointer;
}

.active {
    font-weight: bold;
    background-color: var(--background);
}

@media only screen and (max-width: 640px) {
    #day-selection {
        gap: 0.25rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 0.5em;
    }

    .day {
        border-radius: 0.5em;
    }
}

/* CONTENT */

#plan {
    padding: 0 0.5em 5em 0.5em;
    margin: 0 auto;
    max-width: 900px;
}

.meal-frame {
    background-color: var(--container-background);
    padding: 1em;
    margin-top: 1em;
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    position: relative;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .1)) drop-shadow(0 1px 1px rgba(0, 0, 0, .06))
}

.contains {
    width: 2em;
    height: 2em;
    position: absolute;
    display: block;
    top: 10%;
    right: 1%;
}

.category {
    font-weight: 600;
}

.price {
    text-align: right;
    font-style: italic;
}

/* FOOTER */

footer {
    background-color: var(--accent-background);
    text-align: left;
    position: fixed;
    bottom: 0;
    padding: 1em;
    font-weight: 300;
}
